$main-orange: #ff7f5c;
$body-bg: #f9f5f3;
$semi-blue: #bcc0cd;
$semi-grey: #8d8f96;
$light-blue: #00cbc033;
$solid-blue: #00cbc0;
$off-white: #009acf33;
$blue: #009acf;
$beige: #f4dbd4;
$bar-body: #b9cde2;
$white-color: #ffffff;
$dark-blue: #2c3e50;
$sky-blue: #e0e7f1;
$black-color: #000;
$main-text-color: #3d5161;
